/* ================= */
/* common css part start  */
/* ================= */
/* ================= */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.box{
    display: flex;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
/* common css part end  */
/* ================= */
/* navber css part start  */
/* ================= */
nav{
    background: #FAE3B6;
    padding: 45px 0;
}
nav .box{
    align-items: center;
    justify-content: space-between;
}
nav .menuber-part ul{
    display: flex;
    column-gap: 60px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", serif;
    
}
nav .menuber-part ul li{
    transition: .4s;
    position: relative;
}
nav .menuber-part ul li:hover{
    color: blue;
    cursor: pointer;
}
nav .menuber-part ul li::after{
    position: absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 2px;
    background: red;
    content: "";
    transition: .4s;
}
nav .menuber-part ul li:hover::after{
    width: 100%;
}
nav .button-part a:first-child{
    padding: 10px 28px;
    margin-right: 10px;
}
nav .button-part a{
    background: #FAE3B6;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", serif;
    transition: .4s;
    border: 1px solid #FDBB57;
}
nav .button-part a:hover{
    background: #FDBB57;
}

/*===============
 navber css part end
 ================= */
/*===============
 banner css part start
 ================= */
 .banner{
   background: #FAE3B6;
   padding-top: 200px; 
   padding-bottom: 100px;
 }
.banner .left{
    width: 50%;
}
.banner .right{
    width: 50%;
}
.banner .left h1{
    font-size: 64px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", serif;
    width: 545px;
}
.banner .left p{
    font-size: 22px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", serif;
    width: 531px;
    padding-top: 38px; 
   padding-bottom: 76px;

}
.banner .left a{
    font-size: 24px;
    font-weight: 600;
    color: white;
    font-family: "Poppins", serif;
    background: black;
    padding: 25px 91px;
    border-radius: 10px;
    border: 1px solid black;
    transition: .4s;
}
.banner .left a:hover{
    background: transparent;
    cursor: pointer;
}
 
/*===============
 banner css part end
 ================= */
/*===============
 collection part start
 ================= */
.collection{
    padding-top: 217px;
    padding-bottom: 188px;
}
 .collection h2{
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Frank Ruhl Libre", serif;
    text-align: center;
    padding-bottom: 70px;
}
.collection .box{
    justify-content: space-between;
}
.collection .collection-cart{
    width: 350px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.collection .collection-cart img{
    width: 100%;
}
.collection .collection-cart .overly{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 301px;
    padding-left: 17px;
    box-sizing: border-box;
    transition: .5s;
}
.collection .collection-cart .overly a{
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-family: "Poppins", serif;
    padding: 9px 108px;
    border-radius: 20px;
    background: white;
}
.collection .collection-cart:hover .overly{
    top: 0;
}
/*===============
 collection part end
 ================= */
/*===============
 fashion part start
 ================= */
 .fashion{
    padding-bottom: 335px;
 }
 .fashion .box{
    align-items: center;
 }
 .fashion .left{
    width: 50%;
 }
 .fashion .right{
    width: 50%;
    padding-left: 117px;
 }
 .fashion .right h2{
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    margin-bottom: 63px;
 }
 .fashion .right p{
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: "Poppins", serif;
    width: 443px;
 }
 .fashion .fashion-content{
    position: relative;
 }
 .fashion .fun-fact{
    width: 793px;
    padding: 71px 0;
    background: #FAE3B6;
    position: absolute;
    bottom: -200px;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
 }
 .fashion .fun-fact div{
    border-right: 1px solid rgba(0, 0, 0, 0.6);
    padding-right: 27px;
 }
 .fashion .fun-fact div:last-child{
    border-right: 0;
    padding-right: 0;
 }
 .fashion .fashion-content .fun-fact h4{
    font-size: 64px;
    font-weight: 700;
    color: black;
    font-family: "Podkova", serif;
 }
 .fashion .fashion-content .fun-fact p{
    font-size: 28px;
    font-weight: 500;
    color: black;
    font-family: "Poppins", serif;
 }


/*===============
 fashion part end
 ================= */
/*===============
 producg part start
 ================= */
 .product{
    background: #CFA485;
    padding-top: 40px;
    padding-bottom: 190px;
 }
 .product .left{
    width: 40%;
 }
 .product .left h2{
    font-size: 64px;
    font-weight: 700;
    color: white;
    font-family: "Frank Ruhl Libre", serif;
    padding-left: 25px;
 }
 .product .left p{
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: "Frank Ruhl Libre", serif;
    width: 437px;
    padding-top: 43px;
    padding-bottom: 40px;
    padding-left: 25px;
 }
 .product .left a{
    font-size: 24px;
    font-weight: 600;
    color: white;
    font-family: "Poppins", serif;
    background: black;
    padding: 25px 91px;
    border-radius: 10px;
    border: 1px solid black;
    transition: .4s;
}
.product .left a:hover{
    background: transparent;
    cursor: pointer;
}
 .product .right{
    width: 60%;
    display: flex;
    column-gap: 31px;
    padding-left: 31px;
 }
 .product .right .card{
    width: 366px;
    background: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
 }
 .product .right .card img{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
 }
 .product .right .card .sub-box{
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 9px;
 }
 .product .right .card ul{
    display: flex;
    column-gap: 8px;
 }
 .product .right .card ul li i{
    color: #FFAF37;
    padding-left: 5px;
}
.product .right .card h4{
    font-size: 22px;
    font-weight: 600;
    color: black;
    font-family: Poppins, serif;
    padding-top: 12px;
}
.product .right .card .price{
    display: flex;
    column-gap: 31px;
}
.product .right .card .price p{
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins, serif;
    color: #C4C4C4;

}
.product .right .card .price span{
    font-size: 24px;
    font-weight: 400;
    font-family: Poppins, serif;
    color: black;
}
/*===============
 producg part end
 ================= */